/* Ensure HTML container is properly formatted */
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Apply font styling properties. */
* {
    font-family: Merriweather;
    font-size: 18px;
}

body {
    color: #FFCB05; /* Apply the color to the body instead */
}

/* Style the UMSI Logo */
.UMSI-logo {
    width: 20vw;
}

/* Apply body styling properties. */
body {
    background-image: 
    linear-gradient( rgba(200,100,0,.25), rgba(200,100,0,.25) ), 
    url("../images/UMSI_campus.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    padding-bottom: 15vw;
    height: fit-content;
    width: fit-content;
}

/* Set up flex-box container for navigation elements. */
.navigation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00274C;
}

.navigation-bar li {
    text-align: center;
    font-size: 16px;
}

.navigation-bar li a {
    color: #FFCB05;
}

.navigation-bar:nth-child(1) {
    padding: 5px 0px 0px 0px;
}

.navigation-bar li.active {
    background-color: #FFCB05;
    padding: 4px;
    margin: 4px;
    border-radius: 8px; /* Add rounded corners for a cleaner look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
}

.navigation-bar li.active a {
    color: #00274C;
}

/* Format the header elements. */
h1 {
    background-color: #00274C;
    text-align: center;
    font-size: 22px;
    padding: 20px 0px 10px 0px;
}

h2 {
    background-color: #00274C;
    text-align: center;
    font-size: 16px;
    padding: 10px 10px 20px 10px;
}

h3 {
    background-color: #FFCB05;
    color: #00274C;
    text-align: center;
    padding: 15px 20px 15px 10px;
    margin: 10px 5px 10px 5px;
    height: fit-content;
    line-height: 1.25;
    border-radius: 8px; /* Add rounded corners for a cleaner look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
}

/* Style the grid elements. */
.grid-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Add space between grid items */
    padding: 10px 5px 10px 5px;
}

.grid-display > h3 {
    background-color: #FFCB05;
    color: #00274C;
    text-align: center;
    margin: 0;
    border-radius: 8px; /* Add rounded corners for a cleaner look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
}

.grid-display a {
    color: #00274C;
    font-size: 18px;
}

/* Format the paragraph elements. */
section p, div p {
    background-color: #FFCB05;
    color: #00274C;
    font-size: 16px;
    padding: 15px 10px 15px 10px;
    margin: 10px 5px 10px 5px;
    height: fit-content;
    line-height: 1.25;
    border-radius: 8px; /* Add rounded corners for a cleaner look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
}

p a {
    color: #00274C;
}

.description-pg {
    border-radius: 8px; /* Add rounded corners for a cleaner look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
}

/* Format list elements. */
.bulleted-list {
    list-style-type: disc;
    margin-left: 20px;
}

.bulleted-list-background {
    background-color: #FFCB05;
    color: #00274C;
    font-size: 16px;
    padding: 15px 10px 15px 10px;
    margin: 10px 5px 10px 5px;
    height: fit-content;
    line-height: 1.25;
    border-radius: 8px; /* Add rounded corners for a cleaner look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
}

.bulleted-list li {
    color: #00274C;
    list-style-type: disc;
    margin-left: 20px;
}

/* Format the footer element. */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFCB05;
    color: #00274C;
    width: 100%;
}

footer p {
    color: #00274C;
    text-align: center;
    font-size: 18px;
    padding: 10px 0px 10px 0px;
}

footer p a {
    color: #00274C;
    text-align: center;
    font-size: 18px;
    padding: 10px 0px 10px 0px;
}

/* Style the skip to main element */
.skip-to-main {
    background-color: #00274C;
    color: #FFCB05;
    position: absolute;
    top: -80px;
}

.skip-to-main:focus {
    top: 0px;
}

/* Desktop view */
@media only screen and (min-width: 750px) {
    /* Style the UMSI Logo */
    .UMSI-logo {
        width: 10vw;
        margin: auto;
    }

    /* Update the navigation bar. */
    .navigation-bar {
        flex-direction: column;
        width: 12vw;
        height: 50vw;
        position: fixed;
        padding: 20px;
    }

    .nav-container {
        background-color: #00274C;
        position: fixed;
        height: 100vw;
        width: 12vw;
    }

    /* Move main to align properly to right of navigation. */
    main {
        margin-left: 15vw;
        padding: 20px;
        width: 80vw;
    }

    /* Update font/whitespace sizing */
    h1 {
        font-size: 28px;
    }
    
    h2, h3, .navigation-bar li, p, footer p, footer p a {
        font-size: 26px;
    }

    section p, div p {
        font-size: 24px;
    }

    section {
        margin: auto;
        width: 80%;
    }

    /* Style the grid elements. */
    .grid-display {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px; /* Space between grid items */
    }

    .grid-display > h3 {
        height: fit-content;
    }
    
    .section {
        background-color: #00274C;
    }
}
