/* Ensure HTML container is properly formatted */
html {
    height: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

/* Apply font styling properties. */
* {
    font-family: Merriweather;
    font-size: 1rem;
}

body {
    color: #FFCB05; /* Apply the color to the body instead */
}

/* Style the UMSI Logo */
.UMSI-logo {
    width: 20vw;
}

/* Apply body styling properties. */
body {
    background-image: 
    linear-gradient( rgba(200,100,0,.25), rgba(200,100,0,.25) ), 
    url("../images/UMSI_campus.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    padding-bottom: 15vw;
    height: fit-content;
    width: fit-content;
}

/* Set up flex-box container for navigation elements. */
.navigation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00274C;
}

.navigation-bar li {
    text-align: center;
    font-size: 1rem;
}

.navigation-bar li a {
    color: #FFCB05;
}

.navigation-bar:nth-child(1) {
    padding: 0.3125rem 0 0 0;
}

.navigation-bar li.active {
    background-color: #FFCB05;
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.3);
}

.navigation-bar li.active a {
    color: #00274C;
}

/* Format the header elements. */
h1 {
    background-color: #00274C;
    text-align: center;
    font-size: 1.375rem;
    padding: 1.25rem 0 0.625rem 0;
}

h2 {
    background-color: #00274C;
    text-align: center;
    font-size: 1rem;
    padding: 0.625rem;
}

h3 {
    background-color: #FFCB05;
    color: #00274C;
    text-align: center;
    padding: 0.9375rem;
    margin: 0.625rem 0.3125rem;
    height: fit-content;
    line-height: 1.25;
    border-radius: 0.5rem; 
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.3);
}

/* Style the grid elements. */
.grid-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    padding: 0.625rem 0.3125rem;
}

.grid-display > h3 {
    background-color: #FFCB05;
    color: #00274C;
    text-align: center;
    margin: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.3);
}

.grid-display a {
    color: #00274C;
    font-size: 1.125rem;
}

/* Format the paragraph elements. */
section p, div p {
    background-color: #FFCB05;
    color: #00274C;
    font-size: 1rem;
    padding: 0.9375rem 0.625rem;
    margin: 0.625rem 0.3125rem;
    height: fit-content;
    line-height: 1.25;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.3);
}

p a {
    color: #00274C;
}

.description-pg {
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.3);
}

/* Format list elements. */
.bulleted-list {
    list-style-type: disc;
    margin-left: 1.25rem;
}

.bulleted-list-background {
    background-color: #FFCB05;
    color: #00274C;
    font-size: 1rem;
    padding: 0.9375rem 0.625rem;
    margin: 0.625rem 0.3125rem;
    height: fit-content;
    line-height: 1.25;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.3);
}

.bulleted-list li {
    color: #00274C;
    list-style-type: disc;
    margin-left: 1.25rem;
}

/* Format the footer element. */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFCB05;
    color: #00274C;
    width: 100%;
}

footer p {
    color: #00274C;
    text-align: center;
    font-size: 1.125rem;
    padding: 0.625rem 0;
}

footer p a {
    color: #00274C;
    text-align: center;
    font-size: 1.125rem;
    padding: 0.625rem 0;
}

/* Style the skip to main element */
.skip-to-main {
    background-color: #00274C;
    color: #FFCB05;
    position: absolute;
    top: -5rem;
}

.skip-to-main:focus {
    top: 0;
}

/* Desktop view */
@media only screen and (min-width: 750px) {
    /* Style the UMSI Logo */
    .UMSI-logo {
        width: 6.25rem;
        margin: auto;
    }

    /* Update the navigation bar. */
    .navigation-bar {
        flex-direction: column;
        width: 8.75rem;
        height: 50%;
        position: fixed;
        padding: 1.25rem;
    }

    .nav-container {
        background-color: #00274C;
        position: fixed;
        height: 100%;
        width: 8.75rem;
        z-index: 1;
    }

    /* Move main to align properly to right of navigation. */
    main {
        margin-left: 8.75rem;
    }

    /* Update font/whitespace sizing */
    h1, h2, h3 {
        font-size: 2.125rem; 
    }
    
    .navigation-bar li, p, footer p, footer p a {
        font-size: 1.625rem;
    }

    section p, div p {
        font-size: 1.875rem;
        padding: 1.25rem;
    }

    section {
        margin: auto;
        width: 95%;
    }
    
    footer {
        margin-left: 4rem;
    }

    /* Style the grid elements. */
    .grid-display {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.25rem;
    }

    .grid-display > h3 {
        height: fit-content;
    }

    .grid-display > h3 > a {
        font-size: 1.5rem;
        line-height: 1;
    }

    /* Style the list items. */
    ul > li {
        font-size: 1.5rem;
    }
}